<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted">Mongo WebScraping</h3>
  </div>
  <hr>
  <div class="row">
    <h1>
      <a href="{{result.link}}" target="_blank">{{result.title}}</a>
    </h1>
    <p>{{result.articleSnippet}}</p>
  </div>
  <div class="row">
    <h2>Notes So Far</h2>
  </div>
  {{!--If no notes exist then display the following ptag info--}}
  <div class="row">
    {{#unless result.note}}
    <p>There aren't any notes. Add a note.</p>
    {{/unless}}
  </div>
  {{!--Iterate through the notes by author and their message, display them, and have the option to delete them from the
  user view (also deletes from our db --}}
  <div class="row">
    <ul>
      {{#each result.note}}
      <li style="list-style: none">
        <h5>Name: {{this.name}} </h5>
        <p>Note: {{this.body}}</p>
        <button class="delete-button btn btn-secondary" data-note="{{this._id}}">Delete note</button>
      </li>
      {{/each}}
    </ul>

  </div>
  <div class="row">
    <h2>Add a note About this article</h2>
  </div>
  {{!--Do a post method for the note(s) a user adds and save it to the db--}}
  <form method="POST" action="/articles/{{result._id}}">
    <div class="form-group row">
      <label for="name" class="col-form-label">Name</label>
      <input class="form-control" type="text" name="name" id="name" required>
    </div>
    <div class="form-group row">
      <label for="body">Note</label>
      <textarea class="form-control" id="body" name="body" rows="3" required></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>